<form #form [formGroup]="group" (ngSubmit)="search(); form.reset();" autocomplete="off">

    <mat-form-field appearance="outline">
        <mat-label>Type a word</mat-label>
        <input matInput type="text" formControlName="word">
        <mat-icon matSuffix (click)="form.reset();">close</mat-icon>
    </mat-form-field>
    <button mat-fab [disabled]="group.invalid">
        <mat-icon>favorite</mat-icon>
    </button>
</form>


<div *ngFor="let obj of retorno;">
    <app-definition [definition]="obj"></app-definition>
</div>